<h1>New Addition</h1>
<form action="/wizard_add">
  <label for="robin">Add this:</label>
  <input id="robin" type="text" name="beak">

  <label for="heron">to this:</label>
  <input id="heron" name="wing">

  <button>Add!</button>
</form>
