<h1>New Division</h1>
<form action="/wizard_divide">
  <label for="straight">Divide this:</label>
  <input id="straight" type="text" name="blond">

  <label for="curly">by this:</label>
  <input id="curly" name="black">

  <button>Divide!</button>
</form>
