<h1>New Multiplication</h1>
<form action="/wizard_multiply">
  <label for="sweet">Multiply this:</label>
  <input id="sweet" type="text" name="cake">

  <label for="sugar">by this:</label>
  <input id="sugar" name="ice_cream">

  <button>Multiply!</button>
</form>
