
<h1>New Subtraction</h1>
<form action="/wizard_subtract">
  <label for="green">Subtract this</label>
  <input id="green" type="text" name="light">

  <label for="blue">from this</label>
  <input id="blue" name="dark">

  <button>Subtract!</button>
</form>
